<body>
  <h1>
    bot room slowly on the way, patience
  </h1>
  doc head head ahead
  <br/>
  here content starts:<br/>
  <a href="#">{{ content }} </a>
  
  <br />
  come more stuff in main hbs<br />
  <br />
  {{data}}
</body>